<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments::head(~{::title})">
    <title>标签管理</title>
</head>
<body>
<!--导航-->
<nav th:replace="admin/_fragments::menu(3)"></nav>
<!--二级导航-->
<div th:replace="admin/_fragments::twoMenu(2,'/admin/tags/input','/admin/tags')"></div>
<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}"></p>
        </div>
        <table class="ui compact teal table">
            <thead>
            <tr>
                <th></th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tag,iterStat:${page.content}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${tag.name}"></td>
                <td>
                    <a th:href="@{/admin/tags/{id}/update(id=${tag.id})}" class="ui mini teal basic button">编辑</a>
                    <a th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" class="ui mini red basic button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                        <a th:href="@{/admin/tags/(page=${page.number}-1)}" th:unless="${page.first}"
                           class="item">上一页</a>
                        <a th:href="@{/admin/tags/(page=${page.number}+1)}" th:unless="${page.last}"
                           class="item">下一页</a>
                    </div>
                    <a th:href="@{/admin/tags/input}" class="ui mini right floated blue basic button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<!--底部-->
<footer th:replace="admin/_fragments::foot"></footer>
<!--js-->
<div th:replace="admin/_fragments::script"></div>
<script>
    $('.message .close')
        .on('click', function () {
            $(this).closest('.message').transition('fade');
        })
</script>
</body>
</html>