<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::head(~{::title})">
    <title>搜索结果</title>
</head>
<body>
<!--导航-->
<nav th:replace="_fragments::menu(0)"></nav>
<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <!--header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">搜索结果</h3>
                </div>
                <div class="right aligned column">
                    共&nbsp;<h3 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}"></h3>&nbsp;个
                </div>
            </div>
        </div>
        <!--blog-->
        <div class="ui top attached teal segment">
            <div class="ui padded segment m-padded-tb-large" th:each="blog:${page.content}">
                <div class="ui middle aligned mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header"><a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank"
                                                 class="m-black" th:text="${blog.title}"></a></h3>
                        <p class="m-text" th:text="|${blog.description}.....|"></p>
                        <div class="ui grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                                        <div class="content"><a th:href="@{/about}" class="header"
                                                                th:text="${blog.user.nickName}"></a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i><span
                                            th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}"></span>
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i><span th:text="${blog.views}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a th:href="@{/types/{id}(id=${blog.type.id})}" target="_blank"
                                   class="ui teal basic label m-padded-tiny m-text-thin"
                                   th:text="${blog.type.name}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                            <img th:src="@{${blog.firstPicture}}" class="ui rounded image" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--footer-->
        <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}"
                       class="ui teal basic  button">上一页</a>
                </div>
                <div class="right aligned column">
                    <a th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}"
                       class="ui teal basic  button">下一页</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<footer th:replace="_fragments::foot"></footer>
<!--js-->
<div th:replace="_fragments::script"></div>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>